# Estado de Terraform
*.tfsate
*.tfstate*

# Directorio de trabajo interno de Terraform
.terraform/

# Arvhicos de plan binario
*.tfplan
*.binary

# Variables con valores sensibles
*.tfvars

# Crash logs
crash.log
crash-*.log

# Credenciales y secretos
.env
*.env
secrets.auto.tfvars